#home {
    background-color: #1B2845;
    padding-top: 28rem;
    padding-bottom: 28rem;
}

#projects {
    background-color: #335c81;
}

#portfolio {
    background-color: #274060;
}

#dropdown-menu {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

#dropdown.active > #dropdown-button {
    background-color: #374151;
    color: white;
    border-color: white;
}

#dropdown.active > #dropdown-button + #dropdown-menu {
    opacity: 1;
    transform: translateY(0);
}

.heading {
    font-family: "Balsamiq";
}

.heading2 {
    font-family: "Raleway";
}

.body-text {
    font-family: "Raleway";
}

.button1 {
    background-color: #EF3E36
}

.button2 {
    background-color: #1B2845
}

#nav {
    transition: transform 0.2s, opacity 0.2s;
}

.nav-hidden {
    transform: translateY(-100px);
    opacity: 0;
}

@font-face {
    font-family: Balsamiq;
    src: url(./fonts/BalsamiqSans.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(./fonts/Raleway.ttf);
}