@media screen and (min-width: 768px) {
    
}

#main {
    background-color: #171719;
}

#dropdown-menu {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

#dropdown.active > #dropdown-button {
    background-color: #374151;
    color: white;
    border-color: white;
}

#dropdown.active > #dropdown-button + #dropdown-menu {
    opacity: 1;
    transform: translateY(0);
}

.heading {
    font-family: "ChakraPetch";
}

.heading2 {
    font-family: "Raleway";
}

.body-text {
    font-family: "Raleway";
}

.button1:hover {
    background-color: #adc8ff;
    color: #171719;
    border-color: #adc8ff;
    transition: background-color .5s;
}

.button2 {
    background-color: #1B2845
}

.button3:hover {
    background-color: #adc8ff;
    color: #171719;
    border-color: #adc8ff;
    width: 40%;
    transition: background-color .5s, width 2s;
}

#nav {
    transition: transform 0.2s, opacity 0.2s;
}

.background-box {
    background-color: #202022;
    border-color: #adc8ff;
    border-width: 0.5px;
}

.nav-hidden {
    transform: translateY(-100px);
    opacity: 0;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #65afff;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container:hover .image-overlay {
    opacity: .80;
}
  
.image-text {
    color: white;
    position: absolute;
    font-family: "Raleway";
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

@font-face {
    font-family: ChakraPetch;
    src: url(./fonts/ChakraPetch.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(./fonts/Raleway.ttf);
}

.small-text {
    font-size: 11pt;
}

.skill1 {
    color: #65afff;
    border-color: #65afff;
    border-width: 1px;
}

.skill1:hover {
    background-color: #192838;
    transition: background-color .4s;
}

.skill2 {
    color: #6c82ff;
    border-color: #6c82ff;
    border-width: 1px;
}

.skill2:hover {
    background-color: #202544;
    transition: background-color .4s;
}

.skill3 {
    color: #ff6565;
    border-color: #ff6565;
    border-width: 1px;
}

.skill3:hover {
    background-color: #442020;
    transition: background-color .4s;
}

.skill4 {
    color: #ffbcbc;
    border-color: #ffbcbc;
    border-width: 1px;
}

.skill4:hover {
    background-color: #3b2e2e;
    transition: background-color .4s;
}

.link-text {
    color: #adc8ff;
}